[Unit]
    Description=RuCTFE 2018: Vch
    After=network-online.target docker.service
    Wants=network-online.target docker.service
    Requires=docker.service
    StartLimitBurst=1000
    StartLimitInterval=10s

[Service]
    ExecStart=/usr/local/bin/docker-compose up --build
    WorkingDirectory=/home/vch
    Restart=always
    RestartSec=2s

[Install]
    WantedBy=multi-user.target
