[Unit]
    Description=RuCTFE 2018: Laberator
    After=network-online.target
    Wants=network-online.target
    StartLimitBurst=4
    StartLimitInterval=60s

[Service]
    Type=simple
    ExecStart=/home/laberator/run.sh
    KillMode=control-group
    WorkingDirectory=/home/laberator

# Run as
    User=laberator
    Group=laberator

# Autorestart on failure
    Restart=always
    RestartSec=10s

# Restrict directories and permissions
    NoNewPrivileges=true
    ProtectSystem=true
    PrivateDevices=true
    PrivateTmp=true

#Prevent access to db files and such in /var/lib
    InaccessibleDirectories=-/var/lib
    # ReadWriteDirectories=
    # ReadOnlyDirectories=
    UMask=0027

# Resource limits
    TasksMax=2048
    MemoryMax=1024M
    MemorySwapMax=1024M
    CPUQuota=150%
    LimitNOFILE=65536

# Optional TODO:
# * IO accounting and limits
# * network isolation

[Install]
    WantedBy=multi-user.target
