[Unit]
    Description=RuCTFE 2018: Radiowave Transmitter
    After=network-online.target
    Wants=network-online.target
    StartLimitBurst=10
    StartLimitInterval=60s

[Service]
    Type=simple
    ExecStart=/usr/bin/dotnet Transmitter.dll
    KillMode=control-group
    WorkingDirectory=/home/radiowave/Transmitter

# Run as
    User=radiowave
    Group=radiowave

# Autorestart on failure
    Restart=always
    RestartSec=0.2s

# Restrict directories and permissions
    NoNewPrivileges=true
    ProtectSystem=true
    PrivateDevices=true
    PrivateTmp=true

#Prevent access to db files and such in /var/lib
    InaccessibleDirectories=-/var/lib
    # ReadWriteDirectories=
    # ReadOnlyDirectories=
    UMask=0027

# Resource limits
    TasksMax=1024
    MemoryMax=512M
    MemorySwapMax=512M
    CPUQuota=150%
    LimitNOFILE=65536


[Install]
    WantedBy=multi-user.target
