[Unit]
    Description=RuCTFE 2018: Radiowave Database
    After=network-online.target
    Wants=network-online.target
    StartLimitBurst=5
    StartLimitInterval=15s

[Service]
    Type=simple
    ExecStart=/home/radiowave/database/target/release/database
    KillMode=control-group
    WorkingDirectory=/home/radiowave/database

# Run as
    User=radiowave
    Group=radiowave

# Autorestart on failure
    Restart=always
    RestartSec=0.5s

# Restrict directories and permissions
    NoNewPrivileges=true
    ProtectSystem=true
    PrivateDevices=true
    PrivateTmp=true

#Prevent access to db files and such in /var/lib
    InaccessibleDirectories=-/var/lib
    # ReadWriteDirectories=
    # ReadOnlyDirectories=
    UMask=0027

# Resource limits
    TasksMax=1024
    MemoryMax=1024M
    MemorySwapMax=1024M
    CPUQuota=150%
    LimitNOFILE=65536

[Install]
    WantedBy=multi-user.target
