@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fc63e3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
